@import "~antd/dist/antd.css";

.h100{
    height: calc(100vh - 64px);
}

.events {
    margin: 0;
    padding: 0;
    list-style: none;
}
.events li{
    line-height: 1;
}
.events .ant-badge-status {
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.events .event-info{
    font-size: 10px;
}
